.flexBox-container1 {
    display: flex;
    height: 200px;
    justify-content: space-around;
    margin: 1rem;
    flex-direction: row;
}

.project {
    display: flex;
    color: white;
    height: 200px;
    width: 50%;
    border-radius: 32px;
    background-color: rgb(77, 74, 74);
    font-size: x-large;
    align-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Ptitle {
    width: 200px;
}

.project:hover {
    transform: translateY(-2px);
    transition: transform 0.2s;
    box-shadow: 0 2px 30px rgba(107, 108, 109, 0.4);
}

.right {
    width: 25px;
    height: 25px;
    transition: .5s;
    float:right;
    box-shadow: -2px 2px 0 white;
    transform: rotate(-135deg);
    margin-left: 2.5rem;
}

.right:hover {
    margin-left: 4rem;
}

.description {
    display: flex;
    height: 200px;
    width: 50%;
    margin-left: 1rem;
    border-radius: 32px;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* background-image: linear-gradient(#060517 0%,
            #090979 35%,
            #00d4ff 100%); */
    background-image: linear-gradient(#ded57c, #f5ea8c);
    box-shadow: 0 2px 20px rgba(226, 201, 61, 0.2);
}

.description:hover {
    transform: translateY(-2px);
    transition: transform 0.2s;
    box-shadow: 0 2px 30px rgba(247, 219, 8, 0.4);
}

@media screen and (max-width: 769px) {
    .flexBox-container, .project {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
        .project {
            width: 420px;
            border-radius: 12px;
        }
        .description {
            width: 400px;
        }
    
}